/* Navigation Bar */
ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav-bar {
    float: left;
}

a.nav-bar {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav-bar li a:hover {
    background-color: #4CAF50;
}

.active {
    background-color: #4CAF50;
    color: white;
}

/* Contact */
.contact {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

/* Projects */
.project .col
{
    margin-bottom: 24px;
}

.project h5
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.project h6
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.project hr
{
    width: 40px;
    margin-bottom: 45px;
}

.project .project-holder
{
    clear: both;
    text-align: center;
}

.project img
{
    width: 33%;
    display: inline-block;
    float: left;
}*/

.project img:hover {

}