/* For sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Navigation Bar */
ul.nav-bar li a:hover {
    background-color: #4CAF50;
}

.active {
    background-color: #4CAF50;
    color: white;
}

/* Contact */
.contact {
    display: block;
}
.contact li {
    display: inline-block;
}

/* Projects */
.project .col
{
    margin-bottom: 24px;
}

.project h5
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.project h6
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.project hr
{
    width: 40px;
    margin-bottom: 30px;
}

.project .project-holder
{
    clear: both;
    text-align: center;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}